<div class="fondo-cafe">
    <footer class="py-5 fondo-negro">
        <!-- Contenido del footer -->
        <div class="row">
            <!-- Información de dirección -->
            <article class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                <div class="container">
                    <p class="text-uppercase h4 cafe_pie titulo_mini">Dirección</p>
                    <p class="cafe_pie h5">
                        <i class="fa-solid fa-location-dot text-white"></i> Río Riñihue 802, Santa Julia, Viña del Mar
                    </p>
                </div>
            </article>

            <!-- Se agrega los horarios -->
            <article class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                <div class="container">
                    <p class="cafe_pie titulo_mini text-uppercase h4 negritas">Horarios</p>
                    <div class="row" id="horarios">
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-store"></i>
                        </div>
                        <div class="col-10">
                            <p class="text-uppercase negritas h5 texto-naranjo">LUNES A SÁBADO</p>
                            <p class="text-cafe-oscuro">de 09:00 a 20:00 hrs.</p>
                        </div>
                    </div>
                    <div class="row" id="horarios2">
                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-store"></i>
                        </div>
                        <div class="col-10">
                            <p class="text-uppercase negritas h5 texto-naranjo">DOMINGO Y FESTIVOS</p>
                            <p class="text-cafe-oscuro">Cerrado</p>
                        </div>
                    </div>
                </div>
            </article>

            <!-- Se agrega la información de contacto -->
            <article class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                <p class="cafe_pie titulo_mini text-uppercase h4 negritas">Contacto</p>
                <div class="row" id="correo">
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="col-10">
                        <p class="text-uppercase negritas h5 texto-naranjo">CORREO ELECTRÓNICO</p>
                        <p class="text-cafe-oscuro">saborysazonnuestradelicia@gmail.com</p>
                    </div>
                </div>
                <div class="row" id="telefono">
                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="col-10">
                        <p class="text-uppercase negritas h5 texto-naranjo">TELÉFONO</p>
                        <p class="text-cafe-oscuro">+56 9 2012 7797</p>
                    </div>
                </div>
            </article>
        </div>
        <!-- FIn contenedor de infoweb -->
        <h4 class="d-flex justify-content-center cafe_pie titulo_mini">Diseño: Sebastián Campos, Rodrigo Retamal, Manuel Pérez, Felipe Godoy.</h4>
    </footer>
</div>
