{% extends 'base/base.html'%}
{% block pestanaweb %}
{% load static %}
<title>Acerca de Sabor y Sazón, Nuestra Delicia</title>
{% endblock%}

{% block webcontenido %}
<br><br><br>

<h3 class="text-center titulo letra_cafe">Acerca de Sabor y Sazón, Nuestra Delicia</h3>

<div class="container">
    <p class="h4 titulo_mini text-center">Bienvenidos a Sazón y Sabor Nuestra Delicia, donde la rica tradición culinaria venezolana se mezcla con los auténticos sabores chilenos. Fundada a comienzos de 2024, nuestra empresa busca la fusión perfecta de técnicas y sabores que deleite los paladares más exigentes.<br>
        <br> Nuestra misión es brindar servicios culinarios de alta calidad, fusionando lo mejor de ambas culturas en cada plato. En cinco años, aspiramos a ser líderes en el mercado, con múltiples sucursales y un nombre reconocido a nivel regional.
    </p>
</div>
<br><br><br>

<div class="d-flex justify-content-center">
    <div class="card-style mb-3">
        <div class="row g-0 align-items-center"> <!-- Centra verticalmente el contenido -->
            <div class="col-md-4">
                <img src="{% static 'img/1940_INAUGURACION.png' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 d-flex align-items-center"> <!-- Alinea verticalmente el contenido de texto -->
                <div class="card-body text-center"> <!-- Centra el texto horizontalmente -->
                    <h5 class="card-title titulo_mini letra_cafe">Nuestra Historia</h5>
                    <p class="card-text cafe_cuerpo">
                        <span class="cafe_cuerpo">Sabor y Sazón, Nuestra Delicia</span> nació de un sueño familiar y es el resultado del sueño compartido de una pareja chileno-venezolana que decidió emprender y dejar de trabajar para otros, deseando construir un sustento propio y brindar una experiencia culinaria única que honre ambas culturas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="card-style mb-3">
        <div class="row g-0 align-items-center"> <!-- Centra verticalmente el contenido -->
            <div class="col-md-4">
                <img src="{% static 'img/fifi_flan.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 d-flex align-items-center"> <!-- Alinea verticalmente el contenido de texto -->
                <div class="card-body text-center"> <!-- Centra el texto horizontalmente -->
                    <h5 class="card-title titulo_mini letra_cafe">Nuestra Misión</h5>
                    <p class="card-text">
                        <span class="cafe_cuerpo">Nuestra misión es simple: Brindar una experiencia culinaria que combina la autenticidad de la cocina venezolana con los sabores y tradiciones chilenas, ofreciendo productos de alta calidad y un servicio excepcional. En Sazón y Sabor Nuestra Delicia, nos comprometemos a ser un espacio de encuentro para nuestros clientes, donde puedan disfrutar de sabores únicos y sentirse como en casa.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="card-style mb-3">
        <div class="row g-0 align-items-center"> <!-- Centra verticalmente el contenido -->
            <div class="col-md-4">
                <img src="{% static 'img/mujer_flan.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 d-flex align-items-center"> <!-- Alinea verticalmente el contenido de texto -->
                <div class="card-body text-center"> <!-- Centra el texto horizontalmente -->
                    <h5 class="card-title titulo_mini letra_cafe">Compromiso con la Calidad</h5>
                    <p class="card-text">
                        <span class="cafe_cuerpo">Nos enorgullecemos de utilizar solo los mejores ingredientes en nuestros productos. Creemos que la calidad es clave, y nos esforzamos por garantizar que cada preparación que sale de nuestra cocina cumpla con los más altos estándares.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<h3 class="text-center fw-bold titulo letra_cafe">¡¡Gracias por Elegirnos!!</h3>
<div class="container">
    <p class="h4 text-center titulo_mini let">Agradecemos a cada uno de nuestros clientes por formar parte de la familia <span class="fw-bold cafe_cuerpo titulo_mini">Sabor y Sazón, Nuestra Delicia</span>. <br>Esperamos seguir alegrando tus días con nuestros deliciosos productos y crear juntos muchos más recuerdos felices.</p>
</div>
<br><br><br>

{% endblock %}
