{% extends 'base/base.html' %}

{% block webcontenido %}
<br><br><br>
<div class="container">
    <h1 class="mt-4 titulo letra_cafe">Lista de Productos</h1>
    <a href="{% url 'flan_create' %}" class="btn my-3" style="background-color: #7d5638; color: white;">Crear Nuevo Producto</a>

    <!-- Envuelve la tabla en un contenedor estilizado -->
    <div class="card-style p-3">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>COD</th>
                    <th>Privado</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for flan in flanes %}
                    <tr>
                        <td>{{ flan.name }}</td>
                        <td>{{ flan.description }}</td>
                        <td><img src="{{ flan.image_url }}" alt="{{ flan.name }}" width="50"></td>
                        <td>{{ flan.slug }}</td>
                        <td>{{ flan.is_private|yesno:"Sí,No" }}</td>
                        <td>{{ flan.price }}</td>
                        <td>
                            <a href="{% url 'flan_update' flan.flan_uuid %}" class="btn btn-sm" style="background-color: #7d5638; color: white;">Editar</a>
                            <a href="{% url 'flan_delete' flan.flan_uuid %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br><br><br>
{% endblock %}
