{% extends 'base/base.html'%}
{% load static %}
{% block pestanaweb %}
<title>Inicio de Sabor y Sazón, Nuestra Delicia</title>
{% endblock%}

{% block webcontenido %}
<br> <br> <br>
<div class="container pt-3 text-center">
    <h1 class="titulo letra_cafe">Sazón y Sabor Nuestra Delicia:<br> Un Encuentro de Sabores Chilenos y Venezolanos</h1>
    <p class="titulo_mini">Bienvenidos a nuestra cafetería, donde la pasión por la buena comida y el café nos inspira cada día.<br> 
    Descubre una variedad de opciones, desde nuestros cafés artesanales hasta las especialidades venezolanas y chilenas, que hemos creado para que disfrutes de una experiencia culinaria única.</p>
    
</div>


<br><br><br>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide carousel-shadow">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/img_1.jpg' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/img_2.jpeg' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/img_3.jpeg' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/img_4.jpeg' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/img_5.jpeg' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/img_6.jpeg' %}" class="d-block w-100 img-fluid" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



<br><br><br>
<h3 class="text-center pb-3 cafe_cuerpo titulo">Productos</h3>

<div class="container-fluid  pt-3">
    <div class="row mx-auto justify-content-center">
        {% for flan in flanes %}

        {% include 'fragmentos/flan_card.html' %}


        {% endfor %}
    </div>
</div>

{% endblock %}